@IMPORT url("designer.icon.css?v3.11.2");
html,body{
	font-size: 12px;
	overflow: inherit !important;
}
.top-bg {
	background-color: #F2F2F2;
    background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: -o-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: linear-gradient(to bottom,#ffffff 0,#F2F2F2 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#F2F2F2,GradientType=0);
	padding: 0 60px;
	overflow: inherit !important;
}
.top-bg .top-body{
	width: 100%;
	height: 100%;
	white-space:nowrap;
}
.top-bg .top-title{
	height: 100%;
	width: 20%;
	float: left;
}
.top-bg .top-title span{
	font-size: 18px;
	line-height: 40px;
	margin: 0;
}
.top-bg div.top-menu{
	width: 80%;
	float: right;
}
.top-bg div.top-menu>ul{
	margin-bottom: 0;
}
.top-bg div.top-menu>ul>li{
	float: left;
	position: relative;
    display: block;
}
.top-bg div.top-menu>ul>li>a{
	display: block;
	padding-top:10px;
	padding-bottom:10px;
	padding: 10px 10px;
	line-height:20px;
	color: #000;
	text-decoration: none;
}
.top-bg .top-menu a:hover{
	color: #fff;
	background-color: #006dae;
}
.top-bg .top-menu a.active{
	color: #fff;
	background-color: #006dae;
}
.top-bg .top-menu a.disabled{
	color: #ddd !important;
	background-color: inherit !important;
}
.top-bg .top-menu .top-dropdown-menu{
	min-width: 90px;
	padding: 0;
	font-size: 12px;
	border-radius:2px;
	background-color: #F2F2F2;
	text-align: center;
}
.top-bg .top-menu .top-dropdown-menu .log-arrow-up {
    background: url(../img/arrow-up.png) no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: -10px;
}
.top-bg .top-menu .top-dropdown-menu>li>a{
	padding: 10px 10px;
}
.top-bg .top-menu a span.toolbar{
	text-align: left;
}
.top-bg .top-menu span.top-line{
    border-left: 1px solid #ccc;
   	border-right: 1px solid #fff;
   	margin: 0 8px 0 2px;
}
.footer {
	text-align: center;
	color: #15428B;
	margin: 0px;
	padding: 0px;
	line-height: 23px;
	font-weight: bold;
}

.left-menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 10px 0 0;
}

.left-menu ul li {
	padding: 0px;
	width: 50%;
	height:60px;
	float:left;
}
.left-menu ul li div {
	padding-top: 8px;
	padding-bottom:8px;
	cursor: pointer;
}
.left-menu ul li div span {
	line-height: 16px;
	display: block;
	margin:auto;
	text-align: center;
}
.left-menu ul li div span.nav {
	line-height: 24px;
}
.left-menu ul li div:hover {
	background: #E0ECFF;
}
.left-menu ul li div:hover span {
	color: #416AA3;
}
.left-menu ul li div.active {
	border: 2px inset #ddd;
	background: #E0ECFF;
	cursor: default;
}

.left-menu ul li div.active span {
	color: #416AA3;
	font-weight: bold;
}
.left-menu-tools{
	height:26px;
	width:26px;
	position: absolute;
	left: 184px;
	top:30px;
	z-index: 100;
	background-color: #aaa;
	color: #fff;
	-moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    text-align: center;
}
.left-menu-tools span{
	margin-top:5px;
}
.property-table{
	border: 0px solid #ddd;
	width: 100%;
	background: #fff;
}
.property-table thead {
	background-color: #efefef;
    background: -webkit-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: -moz-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: -o-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: linear-gradient(to bottom,#F9F9F9 0,#efefef 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9,endColorstr=#efefef,GradientType=0);
}
.property-table thead tr{
	height: 25px;
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.property-table thead tr th{
    border-width: 0 1px 1px 0;
    border-style: dotted;
    display: table-cell;
    vertical-align: inherit;
    padding: 0 5px;
}

.property-table tbody tr{
	height: 25px;
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.property-table tbody tr td{
    border-width: 0 1px 1px 0;
    border-style: dotted;
    display: table-cell;
    vertical-align: inherit;
    padding-left: 10px;
}
.property-table tbody tr td:first-child{
	padding-left: 0;
    padding-right: 15px;
}

.property-table tbody tr.property-type td{
	padding-left: 5px;
}

.property-table tbody tr.property-type td span.datagrid-row-collapse{
	display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.property-table tbody tr.property-type td span{
	margin-left:0;
	font-weight: bolder;
}
.property-table tbody tr td .defult-input{
    width: 104px;
    line-height:19px;
    border: 1px solid #95B8E7;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.property-table tbody tr td .disabled-input{
    width: 104px;
    padding:1px 4px;
    line-height:19px;
    border: 1px solid #95B8E7;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.property-table tbody tr td input[type="text"]{
	padding:1px 5px;
    width: 104px;
}
.property-table tbody tr td input[type="number"]{
	padding:1px 4px;
    width: 104px;
}
.property-table tbody tr td input[type="file"]{
    width: 104px;
}
.property-table tbody tr td input[type="radio"]{
	vertical-align:middle;
	margin-top:-2px;
	margin-left: 2px;
	margin-right:10px;
}
.property-table tbody tr td>select{
    width: 104px !important;
    height: 23px;
}

.property-table tbody tr td textarea{
    width: 104px;
}
.property-table tbody tr td div.input-group input{
	vertical-align:middle;
	width: 66px;
	height: 18px;
	border: 1px solid #95B8E7;
    background-color: #fff;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	display: inline-block;
}
.property-table tbody tr td div.formula-group select{
	width: 40px;
	height: 23px;
	border: 1px solid #95B8E7;
    background-color: #fff;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	display: inline-block;
}
.property-table tbody tr td div.formula-group input{
	width: 60px;
	height: 23px;
	border: 1px solid #95B8E7;
    background-color: #fff;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	display: inline-block;
}
.property-table tbody tr td a.btn-lg{
	vertical-align:middle;
	text-align:center;
	font-size:12px;
	width:104px;
	height: 30px;
	line-height:30px;
	padding:0;
	color: #444;
	text-decoration: none;
    background: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	display: inline-block;
}
.property-table tbody tr td a.btn-defult{
	vertical-align:middle;
	text-align:center;
	font-size:12px;
	width:104px;
	height: 23px;
	line-height:23px;
	margin: 2px 0;
	color: #444;
	text-decoration: none;
    background: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	display: inline-block;
}
.property-table tbody tr td a.btn-sm{
	padding-left:5px;
	color:#0088CC;
	text-decoration: none;
}
.property-table tbody tr td div.input-group a span{
	line-height:18px;
	margin: 0;
	padding: 0;
}
.property-table tbody tr td div.input-group img{
	margin-top: 5px;
}
.property-table tbody tr td div.text-group{
	width: 140px;
}
.property-table tbody tr td div.text-group textarea{
	height: 50px;
	float:left;
	display: inline-block;
}
.property-table tbody tr td div.text-group a.btn-text{
	height: 54px;
	width:18px;
	padding:0 0 0 6px;
	float:left;
	line-height:28px;
}
.property-table tbody tr td div.control-text-group{
	width: 108px;
}
.property-table tbody tr td div.control-text-group textarea{
	width: 104px;
	height: 50px;
	float:left;
	display: inline-block;
}
.property-table tbody tr td div.control-text-group a.btn-text{
	height: 54px;
	width:18px;
	padding:0 0 0 6px;
	float:left;
	line-height:28px;
}
.td-img{
	padding-right: 0 !important;
}
.input-img-wapper{
	width: 100%;
	min-width:90px;
	height: 90px;
	text-align: center;
	vertical-align: middle;
}
.input-img-wapper>span{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.input-img-wapper>img{
	max-width:80px;
	max-height:80px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align: middle;
}
.property-footer{
	width: 290px;
	padding: 25px 10px;
}
.btn-property-save{
	width: 270px;
}
.designer-container{
	background-size:100% 100%;
	background-repeat: no-repeat;
}
.database{
	overflow: hidden;
}
.database .database-menu{
	width: 160px;
	height: 100%;
	float: left;
	border-right: 2px solid #E6EEF8;
	padding-top: 4px;
}
.database .database-wapper{
	width: 600px;
	height: 100%;
	float: right;
	overflow-y: auto;
	overflow-x: hidden;
}
.database .database-wapper .img-group{
	padding: 10px 23px;
	 -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.img-group .img-wapper{
	width:102px;
	height:102px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #fff;
	display: inline-block;
	 -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.img-group>.img-wapper>span{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.img-group>.img-wapper>img{
	max-width:100px;
	max-height:100px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align: middle;
}
.database .database-wapper .img-group>div:hover{
	border: 2px solid #E6EEF8;
	border-radius: 3px;
}
.database .database-wapper .img-group>div.active{
	border: 2px solid #006dae;
	border-radius: 3px;
}

.dialog_bg {
	background-color: #F4F4F4;
	padding: 10px;
}
.dialog-import{
	padding: 20px 20px;
}
.dialog-import input{
	width: 100%;
}
.m_table {
	border-collapse: collapse;
	border-width: 1px 1px 1px 1px;
	width: 100%;
	color: #000;
}
.m_table td {
	padding: 7px 6px;
	border: solid #dddddd;
	border-width: 1px 1px 1px 1px;
	line-height: 25px;
}
.m_table td input[type='text']{
	height: 25px;
	width: 120px;
}
.m_table td input[type='file']{
	width: 120px;
	display: inline;
}
.m_table td input[type='checkbox']{
	margin: 0 0;
	vertical-align:middle; 
}
.m_table td input[type='radio']{
	vertical-align:middle;
	margin-top:-2px;
	margin-left: 2px;
	margin-right:10px;
}
.m_table td label{
	font-weight: normal;
	margin-bottom: 0;
}
.m_table td .defult-select{
	width: 120px;
	height: 25px;
}
.m_tabtit {
	background-color: #F4F4F4;
	text-align: right;
}

.list-wrap{
	overflow-x:hidden;
	padding: 5px 10px 0;
}
.list-search{
	margin-top: 10px;
}
.list-search form-group{
	margin-bottom: 10px;
}
.list-border {
	border: 1px solid #ddd;
	margin-bottom: 0px;
}
.list-head{
	background: #f5f5f5;
}
.list-check{
	width: 60px;
}
.list-footer {
	width:100%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	height: 54px;
}
.list-footer .btn-del{
	padding: 9px 8px;
}
.list-footer .btn-del input{
	margin-right: 15px;
	vertical-align:text-bottom;
}
.list-footer .total{
	line-height: 52px;
	color: #888;
}
.list-footer .pull-right ul{
	margin: 11px 10px;
}

.designer-dg{
  background-position: 100% 0;
  background-color: #fff;
  background-repeat:repeat;
  background-size: 20px 20px;
  background-image: linear-gradient(transparent 19px, #eee 19px,#eee 20px),linear-gradient(90deg, transparent 19px, #eee 19px,#eee 20px)
}
svg.designer-container{
	border: 1px solid #000;
	width: 1284px;
	height: 768px;
}
svg rect.extent-rect{
	fill:#ddd;
	opacity:0.5;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}

svg g.ele g.selected-rect rect{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
	opacity:0;
}
svg g.ele g.selected-rect rect.top{
	cursor: n-resize;
}
svg g.ele g.selected-rect rect.left-top{
	cursor: nw-resize;
}
svg g.ele g.selected-rect rect.right-top{
	cursor: ne-resize;
}
svg g.ele g.selected-rect rect.right{
	cursor: e-resize;
}
svg g.ele g.selected-rect rect.right-bottom{
	cursor: se-resize;
}
svg g.ele g.selected-rect rect.bottom{
	cursor: s-resize;
}
svg g.ele g.selected-rect rect.left-bottom{
	cursor: sw-resize;
}
svg g.ele g.selected-rect rect.left{
	cursor: w-resize;
}

svg g.lock g.selected-rect rect{
	fill:#666 !important;
}
svg g.active g.selected-rect rect{
	fill:#ccc;
	opacity:1;
}
svg g.select g.selected-rect rect{
	opacity:1;
}
svg g line.shape-line{
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g line.shape-line-border{
	stroke:#fff;
	stroke-width:10;
	opacity:0;
	cursor:pointer;
}
svg g rect.shape-rect{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g circle.shape-circle{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g ellipse.shape-ellipse{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g rect.shape-text{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g text.shape-text{
	text-anchor:middle;
	cursor:pointer;
}
svg g rect.shape-image{
	opacity:0;
	cursor:pointer;
}
svg g image.shape-image{
	cursor:pointer;
}
svg g polygon.shape-triangle{
	cursor:pointer;
}
svg g rect.data-text{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g text.data-text{
	text-anchor:middle;
	cursor:pointer;
}
svg g rect.light-rect{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g text.light-rect{
	text-anchor:middle;
	cursor:pointer;
}

svg g circle.light-circle{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g text.light-circle{
	text-anchor:middle;
	cursor:pointer;
}
svg g rect.light-image{
	opacity:0;
	cursor:pointer;
}
svg g image.light-image{
	cursor:pointer;
}
svg g rect.fill-rect{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g polygont.fill-rect{
	fill:#f00;
	stroke:none;
	cursor:pointer;
}
svg g text.fill-rect{
	cursor:pointer;
}
svg g text.vertical{
	text-anchor:middle;
}
svg g path.dashboard-laxis{
	fill: none;  
    stroke: #fff;  
    stroke-width:2;
    cursor:pointer;
}
svg g path.dashboard-saxis{
	fill: none;  
    stroke: #fff;  
    stroke-width:1;
    cursor:pointer;
}
svg g polygon.dashboard-point{
	fill: #63869E;  
    stroke: #000;  
    stroke-width:1;
    cursor:pointer;
}
svg g text.dashboard{
	fill: #63869E;
	text-anchor:middle;
	dominant-baseline:middle;
	cursor:pointer;
}

svg g circle.dashboard{
	fill: #63869E;
	text-anchor:middle;
	dominant-baseline:middle;
	opacity:0;
	cursor:pointer;
}

svg g text.dashboard-title{
	fill: #63869E;
	text-anchor:middle;
	cursor:pointer;
}

svg g text.dashboard-value{
	fill: #63869E;
	text-anchor:middle;
	cursor:pointer;
}
svg g rect.control-text{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g text.control-text{
	text-anchor:middle;
	cursor:pointer;
}
svg g rect.control-image{
	opacity:0;
	cursor:pointer;
}
svg g image.control-image{
	cursor:pointer;
}

svg g rect.timer-text{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g text.timer-text{
	text-anchor:middle;
	cursor:pointer;
}

svg g rect.line-chart{
	fill:#fff;
	stroke-width:1;
	cursor:pointer;
}

svg g svg.line-chart g.axis path {
	fill: none;
	stroke: #bbb;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
 
svg g svg.line-chart g.axis text {
	fill: #555;
}
 
svg g svg.line-chart g.axis line {	
	stroke: #e7e7e7;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
 
svg g svg.line-chart g.axis .axis-label {
	font-size: 14px;
}

svg g svg.line-chart path.line {
	fill: none;
	stroke-width: 1.5px;
}

svg g rect.link-text{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g text.link-text{
	text-anchor:middle;
	cursor:pointer;
}
svg g rect.link-image{
	opacity:0;
	cursor:pointer;
}
svg g image.link-image{
	cursor:pointer;
}
svg g rect.openPage-text{
	fill:#fff;
	stroke:#000;
	stroke-width:1;
	cursor:pointer;
}
svg g text.openpage-text{
	text-anchor:middle;
	cursor:pointer;
}
svg g rect.openpage-image{
	opacity:0;
	cursor:pointer;
}
svg g image.openpage-image{
	cursor:pointer;
}
svg g polygon.scrollbar-border{
	stroke-width: 1;
	stroke-opacity: 1;
	fill-opacity:0;
}