<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.things.mapper.AreaMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.things.entity.Area" id="areaMap">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="areaName" column="area_name"/>
        <result property="areaType" column="area_type"/>
        <result property="remark" column="remark"/>
    </resultMap>

</mapper>