<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.things.mapper.DataRuleRealtimeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.things.entity.DataRuleRealtime" id="dataRuleRealtimeMap">
        <result property="id" column="id"/>
        <result property="dataRuleId" column="data_rule_id"/>
        <result property="systemDictId" column="system_dict_id"/>
        <result property="subStationAddr" column="sub_station_addr"/>
        <result property="functionCode" column="function_code"/>
        <result property="registerAddr" column="register_addr"/>
        <result property="dataType" column="data_type"/>
        <result property="decodeFlag" column="decode_flag"/>
        <result property="dataUnit" column="data_unit"/>
        <result property="dataBit" column="data_bit"/>
        <result property="contentZero" column="content_zero"/>
        <result property="contentOne" column="content_one"/>
        <result property="dataDigit" column="data_digit"/>
        <result property="ratioExchange" column="ratio_exchange"/>
        <result property="dataDealFun" column="data_deal_fun"/>
        <result property="dataMapping" column="data_mapping"/>
        <result property="registerStart" column="register_start"/>
        <result property="historyShowFlag" column="history_show_flag"/>
        <result property="picAddr" column="pic_addr"/>
        <result property="dataOrderby" column="data_orderby"/>
        <result property="alarmFlag" column="alarm_flag"/>
        <result property="alarmTopLimit" column="alarm_top_limit"/>
        <result property="alarmContentUp" column="alarm_content_up"/>
        <result property="alarmLowLimit" column="alarm_low_limit"/>
        <result property="alarmContentDown" column="alarm_content_down"/>
        <result property="alarmWaveFilter" column="alarm_wave_filter"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper>